@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size:contain;
   
}



.card-image{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
}

.card-container{
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    padding-bottom: 1rem;
    background-color: white;
    
}

.card-title{
    font-size: 1.5rem;
}

.card-content{
    width: calc(100% - 4rem);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.card-text{

    text-align: center;
    
}


.card-subscription{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.5rem;
    margin-top: 2rem;
    background-color: hsl(225, 100%, 98%);
}
.card-subscription__left{
    display: flex;
    align-items: center;
    gap: 20px;

}


.card-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
}
.btn{
    border: none;
    padding: 0.8rem;
    border-radius: 10px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}
.payment-btn{
    background-color: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 0 20px 20px hsla(245, 75%, 52%, 0.223);
    
}

.plan p {
    margin: 3px 0px;
}

.payment-btn:hover{
    background-color: hsla(240, 100%, 47%, 0.513);
}

.cancel-btn{
    color: hsl(224, 23%, 55%);
    
}

.cancel-btn:hover{
    color: black;
}

.change-link{
    font-size: 11px;
    font-weight: bold;
}

.change-link:hover{
    color: hsla(240, 100%, 47%, 0.513);
    text-decoration: none;
}


.price-for-year{
    color: hsl(224, 23%, 55%);
}

.music-image{
    width: 2.7rem;
}

.card-text__p{
    color: hsl(224, 23%, 55%);
}

@media (max-width: 375px) {
    body{
    background-image: url('images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
       }
}